@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    // display: flex;
    padding: 10px;
}
#todolist{
    display: flex;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.form{
    width: 90%;
    background-color: aqua;
    padding: 20px 25px;
    border-radius: 1rem;
}
div.form-grp{
    display: flex;
    flex-direction: column;
    padding: 10px;

    label{
        font-weight: 500;
    }

    input, textarea{
        padding: 5px;
        font-size: 16px;
    }
}
button{
    padding: 10px 20px;
    border-radius: 1em;
    border:none;
    color:white;
    font-weight: 700;
    cursor: pointer;
    i{
        margin: 5px 5px 5px 15px;
        font-size: 25px;
    }
}
#addlist{
    background-color: green;
}
#addlist:hover{
    background-color: rgb(3, 109, 3);
}

#clearlist{
    background-color: red;
}
#clearlist:hover{
    background-color: rgb(219, 0, 0);
}
section{
    padding: 10px;
    width: 50%;
}
h1,h2,h3,h4,h5,h6{
    margin:7px;
}
#FullListTable, section{
    display: flex;
    flex-direction: column;
}

table{
    width: 90%;
    background-color: honeydew;
    border: 1px solid grey;

    
    th{
        padding: 10px;
        background-color: brown;
        color: white;
    }
    td{
        text-align: center;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);

        button{
            background-color: red;
        }
    }
}

.nav-section{
    height: 8vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
    background-color:rgb(3, 109, 3);
}
.logo{
    font-family: 'Lobster',Arial, Helvetica, sans-serif;
    color:#FAE701;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.7rem;
    font-weight: bold;
    animation: bounce 5s infinite;
}
nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-menu{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        list-style-type: none;
        font-size: 1em;
        a{
            color: #fff;
            text-decoration: none;
        }
        i.fa-trash-o{
            padding: 5px;
            border-radius: 10px;;
        }
    }
}

